$font-titles: 'Titillium Web', sans-serif;
$background-transparent:rgba(255, 255, 255, 0.027);
$header-color:rgba(255, 255, 255, 0.555);
$background-gray:#9B9A9B;
$background-gray-claro:#EEEEEE;
$color-fuente: #282828;
$tituloAlbum: 'Tinos', sans-serif;
$azulado:#39509C;
$texto-simple:'Roboto', sans-serif;
$sombra-texto:black 0.1em 0.1em 0.2em;
$sombra-texto2:rgba(0, 0, 0, 0.473) 0.1em 0.1em 0.2em;
$sombra1: -1px -5px 20px rgba(0, 0, 0, 0.295);
$sombra2: -1px 3px 20px rgba(0, 0, 0, 0.295);
$sombra4: 0 4px 6px -6px #222;
$sombra5:-1px -5px 20px rgba(0, 0, 0, 0.100);



