.margen2 {
  margin-left: 12px;
}

.margen3 {
  margin-top: 35px;
  margin-bottom: 100px;
  margin-left: -9px;
  margin-right: -9px;
}

.carrusel {
  margin-bottom: 50px;
}

.yg {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #EEEEEE;
  background-color: #282828;
  text-align: center;
  margin-bottom: 15px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.yg1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #EEEEEE;
  background-color: #9B9A9B;
  text-align: center;
  margin-bottom: 15px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.contenidos {
  display: -ms-grid;
  display: grid;
}

.contenidos2 {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p1 {
  padding-top: 15px;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.contenedor {
  margin: 10px 10px 10px 10px;
}

.sectfon {
  background-image: url("../images/billie2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 4px;
  width: 100%;
  margin-left: 0px;
}

.sectfon hr {
  color: #EEEEEE;
  height: 1px;
}

.noticia2 {
  padding-top: 10px;
}

.coldplay {
  margin-top: 70px;
  margin-bottom: 70px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titCentrado {
  text-align: center;
  margin-top: 70px;
}

@media (min-width: 556px) {
  .coldplay {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .coldplay h2 {
    color: #282828;
    font-family: "Tinos", sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
  }
  .coldplay .letras {
    font-family: "Tinos", sans-serif;
    font-size: 15px;
    color: #282828;
  }
  .coldplay p {
    color: #282828;
    font-family: "Titillium Web", sans-serif;
    width: 100;
    font-size: 15px;
  }
  .videoCold {
    padding-left: 0px;
  }
  .video {
    width: 95%;
  }
  .sectfon2 {
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 50px;
  }
  .tit1 {
    font-weight: 600;
    font-size: 11px;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  .tit2 {
    font-weight: 500;
    font-size: 11px;
  }
  .yg {
    margin-left: 35px;
  }
  .desap {
    display: none;
  }
  .album {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .albumes {
    margin-top: 12px;
    margin-right: 0px;
  }
  .albumes hr {
    width: 87%;
  }
  .albumes p {
    font-family: "Titillium Web", sans-serif;
    color: #EEEEEE;
    text-align: center;
  }
  .albumes .album {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .imgs {
    margin: 10px 10px 10px 10px;
    padding-bottom: 9px;
    padding-top: 9px;
  }
  .FT {
    background-image: none;
  }
  .pd3 {
    text-align: left;
    color: #282828;
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    font-size: 13px;
    padding-top: 39px;
  }
  .gris-oscuro {
    padding-top: 12px;
    color: #282828;
    background-color: #9B9A9B;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 11px;
    text-align: left;
    padding-top: 15px;
    display: -ms-grid;
    display: grid;
    border-radius: 4px;
  }
  .gris-claro {
    background-color: #EEEEEE;
    color: #282828;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 11px;
    text-align: left;
    padding-top: 15px;
    display: -ms-grid;
    display: grid;
    border-radius: 4px;
  }
  .cuadrado {
    background-color: #EEEEEE;
    border-radius: 4px;
  }
  .pt2 {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .cuadrado-margen {
    margin-left: 35px;
  }
  .noticia {
    margin-top: 30px;
    margin-left: 80px;
    color: #282828;
  }
  .noticia h2 {
    padding: 5px 20px 5px 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 15px;
  }
  .noticia hr {
    margin-bottom: 0;
    margin-top: 0;
    width: 60%;
    margin-left: 20%;
  }
  .sectfon .col-10 {
    width: 100%;
  }
  .sectfon .col-9 {
    width: 40%;
  }
  .sectfon .col-4 {
    width: 35%;
  }
  .sectfon .col-8 {
    width: 30%;
  }
  .sectfon .col-7 {
    width: 50%;
  }
  .sectfon .col-5 {
    width: 45%;
  }
  .carrusel .col-6 {
    width: 47.5%;
  }
  .INFO .col-3, .coldplay .col-3 {
    width: 70%;
  }
  .INFO .col-1, .coldplay .col-1 {
    width: 40%;
  }
  .INFO .col-2, .coldplay .col-2 {
    width: 40%;
  }
}

@media (min-width: 630px) {
  .carrusel .col-6 {
    width: 47.8%;
  }
  .pd3 {
    padding-top: 57px;
  }
}

@media (min-width: 700px) {
  .yg {
    margin-left: 43px;
  }
  .carrusel .col-6 {
    width: 48.1%;
  }
}

@media (min-width: 776px) {
  .coldplay {
    margin-top: 80px;
    margin-bottom: 70px;
  }
  .videoCold {
    padding-left: 0px;
  }
  .FT1 {
    padding: 5px 5px 5px 5px;
    padding-bottom: 10px;
  }
  .yg {
    margin-left: 25px;
  }
  .albumes {
    margin-top: 10px;
  }
  .albumes p, .albumes h3 {
    font-family: "Titillium Web", sans-serif;
    color: #EEEEEE;
    text-align: center;
  }
  .desap {
    display: none;
  }
  .pd3 {
    padding-top: 30px;
  }
  .gris-oscuro {
    padding-top: 15px;
    font-size: 13px;
    padding-top: 15px;
  }
  .gris-claro {
    font-size: 13px;
    padding-top: 15px;
  }
  .sectfon .col-10 {
    width: 100%;
  }
  .sectfon .col-9 {
    width: 40%;
  }
  .sectfon .col-4 {
    width: 30%;
  }
  .sectfon .col-8 {
    width: 30%;
  }
  .sectfon .col-7 {
    width: 50%;
  }
  .carrusel .col-6 {
    width: 48.3%;
  }
  .INFO .col-1, .coldplay .col-1 {
    width: 44.2%;
  }
  .INFO .col-3, .coldplay .col-3 {
    width: 35%;
  }
}

@media (min-width: 850px) {
  .FT1 {
    padding: 30px 30px 30px 30px;
  }
  .pd3 {
    padding-top: 40px;
  }
  .carrusel .col-6 {
    width: 48.4%;
  }
  .sectfon .col-1, .coldplay .col-1 {
    width: 45.3%;
  }
}

@media (min-width: 910px) {
  .yg {
    margin-left: 30px;
  }
  .carrusel .col-6 {
    width: 48.6%;
  }
  .INFO .col-1, .coldplay .col-1 {
    width: 43.3%;
  }
  .sectfon .col-10 {
    width: 70%;
  }
}

@media (min-width: 996px) {
  .coldplay {
    color: #282828;
    margin-top: 50px;
    margin-bottom: 90px;
  }
  .coldplay h2 {
    font-size: 50px;
  }
  .coldplay .letras {
    font-size: 30px;
  }
  .coldplay p {
    font-size: 20px;
  }
  .hg2 {
    padding-bottom: 27px;
  }
  .albumes {
    margin-top: 10px;
  }
  .pd3 {
    padding-top: 40px;
  }
  .carrusel .col-6 {
    width: 48.7%;
  }
  .INFO .col-1, .coldplay .col-1 {
    width: 44.3%;
  }
  .sectfon .col-9 {
    width: 40%;
  }
  .sectfon .col-4 {
    width: 30%;
  }
  .sectfon .col-8 {
    width: 30%;
  }
  .sectfon .col-7 {
    width: 50%;
  }
}

@media (min-width: 1145px) {
  .hg2 {
    padding-bottom: 25px;
  }
  .pd3 {
    padding-top: 30px;
  }
  .INFO .col-1, .coldplay .col-1 {
    width: 38.3%;
  }
  .carrusel .col-6 {
    width: 48.9%;
  }
}

@media (min-width: 1200px) {
  .coldplay {
    margin-top: 80px;
  }
  .coldplay h2 {
    margin-top: 0px;
  }
  .titCentrado {
    margin-top: 40px;
  }
  .videoCold {
    padding-left: 150px;
  }
  .hg2 {
    padding-bottom: 0px;
  }
  .album {
    display: -ms-grid;
    display: grid;
    margin-left: 50px;
  }
  .tit1 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
  }
  .tit2 {
    font-weight: 500;
    font-size: 13px;
  }
  .pd3 {
    padding-top: 40px;
  }
  .noticia {
    margin-left: 10px;
  }
  .FT1 {
    padding: 20px 20px 20px 20px;
    padding-bottom: 20px;
  }
  .padd {
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 0px;
    padding-bottom: 70px;
  }
  .sectfon .col-10 {
    width: 90%;
  }
  .sectfon .col-9 {
    width: 40%;
  }
  .sectfon .col-4 {
    width: 23%;
  }
  .sectfon .col-8 {
    width: 30%;
  }
  .sectfon .col-7 {
    width: 50%;
  }
  .INFO .col-1, .coldplay .col-1 {
    width: 45.3%;
  }
  .INFO .col-3, .coldplay .col-3 {
    width: 23.9%;
  }
  .carrusel .col-6 {
    width: 49%;
  }
}

@media (min-width: 576px) {
  header {
    margin-bottom: 35px;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.555);
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header path:hover, header span:hover {
    color: #39509C;
  }
  header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.555);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 50px;
    color: "Titillium Web", sans-serif;
    font-weight: 700;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-transform: uppercase;
    text-align: center;
  }
  header .overlay li {
    list-style: none;
  }
  .overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .lupa {
    margin-top: 7px;
    margin-right: 7px;
  }
  .overlay .closebtn {
    position: absolute;
    top: -10px;
    right: 25px;
    margin-right: 10px;
    font-size: 50px;
    font-family: sans-serif;
  }
  .contenedor {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Titillium Web", sans-serif;
  }
  header .overlay nav {
    width: 50%;
  }
  header .overlay a {
    padding: 10px;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    display: block;
    color: #282828;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    -webkit-transition: background-size 1.5s;
    transition: background-size 1.5s;
  }
  header .overlay a:hover {
    color: #39509C;
    background-size: 90% 2px;
  }
  header .overlay a path:hover {
    color: #39509C;
  }
  header .overlay-content {
    position: fixed;
    width: 100%;
    text-align: right;
    margin-top: 16px;
    padding-right: 10%;
    top: 0;
  }
  header nav ul {
    margin-right: 0px;
    display: block;
    list-style: none;
  }
  header nav ul li {
    display: inline-block;
  }
  header nav ul .overlay .closebtn {
    display: none;
  }
  .noMostrar {
    display: none;
  }
}

@media (min-width: 1200px) {
  header {
    top: 0px;
  }
  .overlay-content {
    margin-top: 0;
    position: fixed;
    top: 17px;
    right: 8px;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.fondo {
  background-image: url("../images/fondo_auto_x2.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.logo {
  margin-left: 7px;
}

.sombra {
  -webkit-box-shadow: -1px -5px 20px rgba(0, 0, 0, 0.295);
          box-shadow: -1px -5px 20px rgba(0, 0, 0, 0.295);
}

.sombra2 {
  -webkit-box-shadow: -1px 3px 20px rgba(0, 0, 0, 0.295);
          box-shadow: -1px 3px 20px rgba(0, 0, 0, 0.295);
}

.sombra4 {
  -webkit-box-shadow: 0 4px 6px -6px #222;
          box-shadow: 0 4px 6px -6px #222;
}

.sombra5 {
  -webkit-box-shadow: -1px -5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: -1px -5px 20px rgba(0, 0, 0, 0.1);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rotate {
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  overflow: hidden;
}

.rotate:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media (min-width: 576px) {
  body {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 776px) {
  body {
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (min-width: 996px) {
  body {
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (min-width: 1200px) {
  body {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (min-width: 1300px) {
  body {
    margin-left: 210px;
    margin-right: 210px;
  }
  .overlay-content {
    margin-top: 0;
    position: fixed;
    top: 17px;
    right: 110px;
  }
}

@media (min-width: 576px) {
  footer {
    font-size: 10px;
    position: relative;
    padding: 40px 0 20px 0;
    background-color: rgba(255, 255, 255, 0.555);
  }
  footer path:hover {
    color: #39509C;
  }
  footer .logo {
    padding-left: 20px;
  }
  footer div ul {
    list-style: none;
  }
  footer a {
    padding: 0px 0 40px 0;
    display: inline-block;
    color: #282828;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 12px;
  }
  footer p {
    font-size: 9px;
    font-family: "Tinos", sans-serif;
    padding: 0px;
  }
  footer .col-11 {
    width: 27%;
  }
  footer .col-12 {
    width: 41%;
  }
  .menu {
    padding-top: 10px;
  }
  .mostrar {
    display: none;
  }
  .socialMedia {
    margin-left: 15px;
    font-size: 20px;
  }
}

@media (min-width: 776px) {
  footer .logo {
    padding-left: 40px;
  }
  footer a {
    font-size: 14px;
    padding-bottom: 0px;
  }
  footer .col-12 {
    width: 35%;
  }
  .socialMedia {
    margin-left: 30px;
    font-size: 25px;
  }
}

@media (min-width: 996px) {
  .socialMedia {
    margin-left: 35px;
    font-size: 30px;
    padding-top: 10px;
  }
  .mostrar {
    display: inline-block;
  }
  footer .logo {
    padding-left: 50px;
    padding-top: 15px;
  }
  footer .col-11 {
    width: 27%;
  }
  footer .col-12 {
    width: 41%;
  }
}

@media (min-width: 556px) {
  .centrado {
    font-family: "Titillium Web", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #EEEEEE;
    position: absolute;
    top: 88%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .centrado2 {
    font-family: "Tinos", sans-serif;
    font-size: 10px;
    color: #EEEEEE;
    font-weight: 500;
    position: absolute;
    top: 95%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .empresas {
    margin-bottom: 100px;
    font-family: "Roboto", sans-serif;
    color: #282828;
    font-weight: 500;
    font-size: 12px;
    text-align: end;
    padding-left: 50px;
  }
  .famosos {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    text-align: center;
  }
  .famosos div {
    margin-top: 20px;
    margin-left: 20px;
  }
  .famosos div p {
    margin-top: 50px;
    padding-right: 20px;
    font-family: "Roboto", sans-serif;
    color: #282828;
    font-weight: 500;
    width: 100%;
    margin-bottom: 50px;
  }
  .famosos div img {
    margin-left: 90px;
  }
  .famosos .col-5 {
    width: 50%;
  }
  .bordeImg {
    border: rgba(255, 255, 255, 0.555) solid 7px;
    margin-left: 0px;
  }
  .borderImgBiza {
    border-right: rgba(255, 255, 255, 0.555) solid 3px;
    border-bottom: rgba(255, 255, 255, 0.555) solid 8px;
    margin-left: 0px;
  }
  .lanzamientos {
    margin-top: 120px;
    margin-bottom: 100px;
    padding-bottom: 40px;
    background-color: #EEEEEE;
    padding-left: 50px;
    border-radius: 1%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .lanzamientos div {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .lanzamientos div p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .lanzamientos h2 {
    text-shadow: rgba(0, 0, 0, 0.473) 0.1em 0.1em 0.2em;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    padding-left: 0;
    text-align: center;
    padding-top: 40px;
  }
  .lanzamientos .col-8 {
    width: 44.66%;
  }
  .lanzamientos .col-10 {
    width: 100%;
  }
}

@media (min-width: 776px) {
  .centrado {
    font-size: 27px;
  }
  .centrado2 {
    font-size: 15px;
  }
  .lanzamientos {
    padding-left: 70px;
  }
  .lanzamientos div img {
    font-size: 13px;
  }
  .lanzamientos div p {
    font-size: 13px;
  }
  div img {
    font-size: 14px;
  }
  div p {
    font-size: 14px;
  }
  .famosos {
    margin-top: 0px;
  }
  .famosos .borderImgBiza {
    margin-left: 95px;
  }
  .famosos div img {
    margin-left: 35px;
  }
  .famosos .col-5 {
    width: 40%;
  }
}

@media (min-width: 870px) {
  .famosos .borderImgBiza {
    margin-left: 110px;
  }
}

@media (min-width: 996px) {
  .empresas {
    font-size: 14px;
  }
  .famosos .borderImgBiza {
    margin-left: 135px;
  }
  .famosos div p {
    font-size: 15px;
  }
  .famosos div img {
    margin-left: 100px;
  }
  .famosos .col-5 {
    width: 33%;
  }
  .lanzamientos {
    padding-left: 85px;
  }
  .lanzamientos div img {
    font-size: 15px;
  }
  .lanzamientos div p {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .centrado {
    font-size: 32px;
  }
  .centrado2 {
    font-size: 20px;
  }
  .famosos {
    margin-top: 0px;
  }
  .famosos .borderImgBiza {
    margin-left: 53px;
  }
  .famosos div img {
    margin-left: 85px;
  }
  .famosos .col-5 {
    width: 25%;
  }
}
/*# sourceMappingURL=estilos.css.map */